.main-footer{
  width: 100%;
  position: absolute;
  bottom: 0;
  background: $darkblue;
  color: $white;
}

.nav-footer{
  display: flex;
  justify-content: space-between;
  max-width: 1140px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 1rem;
  border-bottom: 1px solid $white;
  .footer-brand{
    img{
      width: 180px;
    }
  }
  ul{
    text-align: right;
    list-style: none;
    li{
      margin-bottom: 1rem;
      &:last-child{
        margin-bottom: 0;
      }
      a{
        color: $white;
      }
    }
  }
}